.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  button {
    width: 180px;
    margin: 0 auto;
    border: 1px solid lightblue;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.error {
  color: red;
  position: absolute;
  top: 6em;
  font-size: 0.7em;
}

input {
  height: 30px;
}
